.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  pointer-events: auto;
  background-color: white;
  padding: 15px;
  background-clip: padding-box;

  outline: 0;
  max-width: 700px;
}

.modal-content input {
  display: block;
  margin: 10px 0;
  width: 100%;
  padding: 8px;
}

.modal-content button {
  background-color: #28a745;
  color: white;
  padding: 8px 20px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
}
